<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update_form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="../static/w3.css">
</head>
<body>
<h2 class="w3-border w3-center w3-round-xlarge">Change information</h2>
<div class="w3-center">
    <form class="w3-form w3-container" method="post" action="">
        <div>
            <h3 class="w3-container w3-green w3-center w3-margin-bottom">What do you want to change </h3>
        </div>
        <div class="w3-border-red w3-round-xlarge w3-container">

                <label for="name" class="w3-btn-bar" style="font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">NAME</label>
                <input class="w3-input" type="text" name="name">

                <label for="desc" class="w3-btn-bar" style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">DESC</label>
                <input class="w3-input" type="text" name="desc">

                <label for="link" class="w3-btn-bar" style="font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">LINK</label>
                <input class="w3-input" type="text" name="link">

                <label for="img" class="w3-btn-bar" style="font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">LINK IMG</label>
                <input class="w3-input" type="text" name="img">
                <input type="submit">

        </div>

    </form>
</div>

</body>
</html>